/* Estilos específicos para a página de cadastro */
body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #555;
}

.register-link {
    color: #333;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}