* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 60px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 15px;
}

.list {
    align-items: center;
    background-color: #111;
    display: flex;
    height: 60px;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
}

.title {
    color: #dedede;
    font-size: 1.5rem;
}

.back-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #ccc;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: auto; /* Alterando para altura automática */
    padding: 20px;
    row-gap: 15px; /* Aumentando o espaçamento entre os elementos */
    width: 320px; /* Ajustando a largura para melhor espaçamento */
    margin: auto; /* Centralizando e adicionando espaço ao redor */
    justify-content: center; /* Adicionando esta linha para centralizar verticalmente o conteúdo */
}

.fa__labels {
    font-weight: 600;
    margin-top: 2rem;
}

.fa__container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; /* Aumentando a margem superior */
}

.fa__button,
.back-button {
    border: 1px solid;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 20px; /* Aumentando o padding para tornar os botões mais visíveis */
    transition: transform 0.3s;
    background-color: #32CD32;
}

.fa__button:hover,
.back-button:hover {
    transform: scale(1.1);
}

.back-button {
    background-color: #333; /* Cor padrão para o botão de voltar */
    color: #fff;
}

.back-button:hover {
    background-color: #555;
}

legend {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.select-theme,
.select-question {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px; /* Aumentando a margem superior */
    margin-bottom: 2rem;
}
