* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 60px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 15px;
}

.list {
    align-items: center;
    background-color: #111;
    display: flex;
    height: 60px;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
}

.title {
    color: #dedede;
    font-size: 1.5rem;
}

.select-theme {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 8px;
}

.select-theme:hover {
    background-color: #555;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.option-btn {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #555;
}

.dialog__add,
.dialog__consult,
.dialog__update {
    align-items: center;
    background-color: #00000066;
    border: none;
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: 380px;
    padding: 20px;
    row-gap: 3px;
    width: 240px;
}

.fa__labels {
    font-weight: 600;
    margin-top: 10px;
}

.fa__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.fa__button {
    border: 1px solid;
    border-radius: 10px;
    font-weight: 600;
    padding: 3px;
    width: 45%;
    transition: transform 0.3s;
}

.fa__button:hover {
    transform: scale(1.1);
}

#fa__button--edit {
    background-color: rgb(41, 241, 255);
}

#fa__button--close {
    background-color: rgb(255, 41, 41);
}
